// Ant Design
@import "~antd/dist/antd.css";

html,
body,
#app {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ant-layout {
  background-color: #fff;
}

.ant-row-flex {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-layout-header .ant-typography {
  color: #fff;
}

.top-margin {
  margin-top: 20pt;
}

.pagination {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 50vh;
  min-height: 400px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  & > div {
    display: flex;
    height: 100%;
  }
}

.movie-image {
  object-fit: cover;
}

.movie-data {
  margin-top: 20pt;
}

.hide-sm-down {
  @media screen and (max-width: 575px) {
    display: none;
  }
}
.ant-card-cover img {
  height: auto;
}
.ml-8 {
  margin-left: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.reset-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.d-none {
  display: none !important;
}

.ant-avatar-image .ant-image-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.main-loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.op-10 {
  opacity: 0.1;
}

.popup-user-lists {
  max-height: 180px;
  overflow: auto;
}

.d-block {
  display: block;
}
